* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

p {
  z-index: 10000;
  font-size: 1rem;
  text-align: center;
  position: absolute;
  margin-top: 3.7%;
  padding: 0.7rem;
  width: 8.33333333333%;
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  opacity: 0.7;
}

.carousel {
  overflow: hidden;
  height: 100%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  position: relative;
}

.carousel figure div {
  width: 8.33333333333%;
  float: left;
}

.carousel figure img {
  width: 100%;
  float: left;
}

.carousel figure {
  position: relative;
  width: 1200%;
  margin: 0;
  left: 0;
  animation: 20s scrollRight infinite;
}

@keyframes scrollRight {
  0% {
    left: 0%;
  }

  6.5% {
    left: 0%;
  }

  8.5% {
    left: -100%;
  }

  15% {
    left: -100%;
  }

  17% {
    left: -200%;
  }

  23.5% {
    left: -200%;
  }

  25.5% {
    left: -300%;
  }

  32% {
    left: -300%;
  }

  34% {
    left: -400%;
  }

  40.5% {
    left: -400%;
  }

  42.5% {
    left: -500%;
  }

  49% {
    left: -500%;
  }

  51% {
    left: -600%;
  }

  57.5% {
    left: -600%;
  }

  59.5% {
    left: -700%;
  }

  66% {
    left: -700%;
  }

  68% {
    left: -800%;
  }

  74.5% {
    left: -800%;
  }

  76.5% {
    left: -900%;
  }

  83% {
    left: -900%;
  }

  85% {
    left: -1000%;
  }

  91.5% {
    left: -1000%;
  }

  93.5% {
    left: -1100%;
  }

  100% {
    left: -1100%;
  }
}
